[submodule "oerworldmap-api"]
	path = oerworldmap-api
	url = git@github.com:wmde/oerworldmap.git
[submodule "oerworldmap-ui"]
	path = oerworldmap-ui
	url = git@github.com:wmde/oerworldmap-ui.git
[submodule "docker/oerworldmap-keycloak-theme"]
	path = docker/oerworldmap-keycloak-theme
	url = https://github.com/hbz/oerworldmap-keycloak-theme
